<header class="main-header header-style-two" id="home">
    <!-- header-top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="top-inner">
                <div class="left-column">
                    <ul class="info clearfix">
                        <li><i class="icon-2"></i>Rua Gonçalves Dias, 89 - Sala 610 - Centro - RJ</li>
                        <li><i class="icon-3"></i><a href="tel:0312139611576"> (21) 3961-1576 / 99926-6747 </a></li>
                    </ul>
                </div>
                <div class="right-column">
                    <ul class="social-links clearfix">
                        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header-lower -->
    <div class="header-lower">
        <div class="auto-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="javascript:void(0)"><img src="assets/images/logo.png" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#sobre">Sobre</a></li>
                                <li><a href="#servicos">Serviços</a></li>
                                <li><a href="#promocoes">Promoções</a></li>
                                <li><a href="#depoimentos">Depoimentos</a></li>
                                <li><a href="#produtos">Produtos</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="nav-right">

                    <div class="btn-box">
                        <a href="https://wa.me/5521999266747/" target="_blank" class="theme-btn btn-one">PRECISO DE UM ÓCULOS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="outer-box">
                <div class="logo-box">
                    <figure class="logo"><a href="javascript:void(0)"><img src="assets/images/logo.png" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#sobre">Sobre</a></li>
                                <li><a href="#servicos">Serviços</a></li>
                                <li><a href="#promocoes">Promoções</a></li>
                                <li><a href="#depoimentos">Depoimentos</a></li>
                                <li><a href="#produtos">Produtos</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="nav-right">

                    <div class="btn-box">
                        <a href="https://wa.me/5521999266747/" target="_blank" class="theme-btn btn-one">PRECISO DE UM ÓCULOS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
