.banner{
    background-image: url('../../../assets/img/PhotoReal_glasses_7.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:550px;
    display:block;
}

.content{
position: static;
top: 240px;
left: 0;
text-align: center;
}

.content h1{
    display: block;
    color:white;
    position: sticky;
    font-size:55px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -2px;
}
.content a{
text-decoration: none;
    color:#22190d;
    text-align: center;
    background-color: white;
    padding: 15px 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 15px;
    font-size:20px;
}
.content a:hover{
    background-color: #2b2014;
    color:white;
}

#testimonial_1{
    background-image: url('../../../assets/img/foto_testimonial_1.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
#testimonial_2{
    background-image: url('../../../assets/img/foto_testimonial_1.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
#testimonial_3{
    background-image: url('../../../assets/img/foto_testimonial_1.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
#testimonial_4{
    background-image: url('../../../assets/img/foto_testimonial_1.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
#testimonial_5{
    background-image: url('../../../assets/img/foto_testimonial_1.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
#testimonial_6{
    background-image: url('../../../assets/img/foto_testimonial_1.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
#armacao1{
    background-image: url('../../../assets/img/Armações/armacao1.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}
